<header>
    <!-- Logo -->
    <a href="./index.html" class="logo">
        <img src="./images/header/logo.png" alt="logo">
    </a>
    <!-- Navigation -->
    <nav>
        <ul>
            <li class="navigation__item">
                <a href="#about" class="navigation__link">About us</a>
            </li>
            <li class="navigation__item">
                <a href="#program" class="navigation__link">Program</a>
            </li>
            <li class="navigation__item">
                <a href="#speakers" class="navigation__link">Speakers</a>
            </li>
            <li class="navigation__item">
                <a href="#price" class="navigation__link">Price</a>
            </li>
            <li class="navigation__item">
                <a href="#reviews" class="navigation__link">Reviews</a>
            </li>
            <li class="navigation__item">
                <a href="#contact" class="navigation__link">Contact</a>
            </li>
        </ul>
    </nav>
    <button type="button" class="menu__button" 
            data-menu-button
            aria-expanded="false">
                <svg 
                    width="19.21px" 
                    height="19.21px"
                    aria-controls="menu"
                    aria-label="mobile menu switcher"
                >
                    <use class="icon" href="./images/icons.svg#menu"></use>
                    <use class="icon" href="./images/icons.svg#menu-cross"></use> 
                </svg>
            </button>  
</header>