<section>
    <div class="container">
        <h1 class="hero__title">Donut Masterclass with the Donut King</h1>
        <p>Hosted by Eva Green</p>
        <a href="#registration">Register</a>
        <ul>
            <li class="social__item">
                <svg class="icon" width="16px" height="16px">
                    <use href="./images/icons.svg#twiter"></use>
                </svg>
            </li>
            <a href="" class="social__link"></a>
            <li class="social__item">
                <svg class="icon" width="16px" height="16px">
                    <use href="./images/icons.svg#instagram"></use>
                </svg>
            </li>
            <a href="" class="social__link"></a>
            <li class="social__item">
                <svg class="icon" width="16px" height="16px">
                    <use href="./images/icons.svg#facebook"></use>
                </svg>
            </li>
            <a href="" class="social__link"></a>
        </ul>
    </div>
</section>